สวนมะพร้าว1.json
[
    {
        "id": "544533f6fc539ea4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ad6cf272b2e95ae7",
        "type": "mqtt in",
        "z": "544533f6fc539ea4",
        "name": "soil1(15cm)",
        "topic": "soil1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 140,
        "wires": [
            [
                "eafa0de013151100",
                "44a52875856542cc",
                "0470f66fad5a7960"
            ]
        ]
    },
    {
        "id": "0ad74e8f714b1775",
        "type": "mqtt in",
        "z": "544533f6fc539ea4",
        "name": "soil1(30cm)",
        "topic": "soil2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 180,
        "wires": [
            [
                "b247110221357896",
                "29afd94ada022988"
            ]
        ]
    },
    {
        "id": "77e39da4b5e52103",
        "type": "mqtt in",
        "z": "544533f6fc539ea4",
        "name": "soil2(15cm)",
        "topic": "soil3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 220,
        "wires": [
            [
                "a8484aa6e0662c5a",
                "15c045629e0f992b",
                "a09f51cd1e7eb299"
            ]
        ]
    },
    {
        "id": "0470f66fad5a7960",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "data1",
        "topic": "data1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "7da423dfbc6ca655",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "data2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 990,
        "y": 100,
        "wires": []
    },
    {
        "id": "a345ebb34cd370b8",
        "type": "ui_text_input",
        "z": "544533f6fc539ea4",
        "name": "",
        "label": "min1",
        "tooltip": "",
        "group": "85eadbcc02c35ba4",
        "order": 17,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 370,
        "y": 700,
        "wires": [
            [
                "405e608bd1720a3d"
            ]
        ]
    },
    {
        "id": "850a260e97cb6312",
        "type": "ui_text_input",
        "z": "544533f6fc539ea4",
        "name": "",
        "label": "max1",
        "tooltip": "",
        "group": "85eadbcc02c35ba4",
        "order": 19,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 370,
        "y": 740,
        "wires": [
            [
                "b6999a5a15687772"
            ]
        ]
    },
    {
        "id": "405e608bd1720a3d",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "setlow1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 500,
        "y": 700,
        "wires": []
    },
    {
        "id": "b6999a5a15687772",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "setmax1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 500,
        "y": 740,
        "wires": []
    },
    {
        "id": "bb67f4615771b07c",
        "type": "ui_button",
        "z": "544533f6fc539ea4",
        "name": "",
        "group": "85eadbcc02c35ba4",
        "order": 25,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "set",
        "tooltip": "",
        "color": "",
        "bgcolor": "#C0DEED",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 860,
        "wires": [
            [
                "8a14d5e51398bc74"
            ]
        ]
    },
    {
        "id": "8a14d5e51398bc74",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 490,
        "y": 860,
        "wires": []
    },
    {
        "id": "000e13fa9ed5ce8c",
        "type": "ui_text_input",
        "z": "544533f6fc539ea4",
        "name": "",
        "label": "min2",
        "tooltip": "",
        "group": "3287fa1ec301025c",
        "order": 11,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 370,
        "y": 780,
        "wires": [
            [
                "2ab2220621c72c3e"
            ]
        ]
    },
    {
        "id": "16a3a58c0c5def24",
        "type": "ui_text_input",
        "z": "544533f6fc539ea4",
        "name": "",
        "label": "max2",
        "tooltip": "",
        "group": "3287fa1ec301025c",
        "order": 13,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 370,
        "y": 820,
        "wires": [
            [
                "6eedded2b1fcd810"
            ]
        ]
    },
    {
        "id": "2ab2220621c72c3e",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "setlow2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 500,
        "y": 780,
        "wires": []
    },
    {
        "id": "6eedded2b1fcd810",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "setmax2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 500,
        "y": 820,
        "wires": []
    },
    {
        "id": "a09f51cd1e7eb299",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "data3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "6dc7b47ecc3a31c1",
        "type": "ui_chart",
        "z": "544533f6fc539ea4",
        "name": "",
        "group": "4791d93f32c36a6b",
        "order": 22,
        "width": 11,
        "height": 7,
        "label": "soil1/2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#00b315",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "eafa0de013151100",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "soil1",
        "func": "msg.topic='soil1(15cm)';\nmsg.payload=Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 140,
        "wires": [
            [
                "6dc7b47ecc3a31c1"
            ]
        ]
    },
    {
        "id": "b247110221357896",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "soil2",
        "func": "msg.topic='soil1(30cm)';\nmsg.payload=Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 180,
        "wires": [
            [
                "6dc7b47ecc3a31c1"
            ]
        ]
    },
    {
        "id": "15c045629e0f992b",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "soil3",
        "func": "msg.topic='soil2(15cm)';\nmsg.payload=Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 220,
        "wires": [
            [
                "6dc7b47ecc3a31c1"
            ]
        ]
    },
    {
        "id": "442a29f1d5de8831",
        "type": "ui_switch",
        "z": "544533f6fc539ea4",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "178d8fd49c925330",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 810,
        "y": 200,
        "wires": [
            [
                "e4a4155e2575abe0"
            ]
        ]
    },
    {
        "id": "b1b0c6f4eb42abd8",
        "type": "ui_switch",
        "z": "544533f6fc539ea4",
        "name": "",
        "label": "off-on[1]",
        "tooltip": "",
        "group": "85eadbcc02c35ba4",
        "order": 22,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1080,
        "y": 260,
        "wires": [
            [
                "b8dd2263992477a3"
            ]
        ]
    },
    {
        "id": "8c13a3c15ec17156",
        "type": "ui_numeric",
        "z": "544533f6fc539ea4",
        "name": "",
        "label": "Second1",
        "tooltip": "",
        "group": "85eadbcc02c35ba4",
        "order": 28,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "59",
        "step": 1,
        "className": "",
        "x": 820,
        "y": 740,
        "wires": [
            [
                "db7fc0f00b9d53a3"
            ]
        ]
    },
    {
        "id": "7068a6bb2b77e5ec",
        "type": "ui_numeric",
        "z": "544533f6fc539ea4",
        "name": "",
        "label": "Minute1",
        "tooltip": "",
        "group": "85eadbcc02c35ba4",
        "order": 21,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "59",
        "step": 1,
        "className": "",
        "x": 820,
        "y": 580,
        "wires": [
            [
                "cd7916c92f7a51f4"
            ]
        ]
    },
    {
        "id": "a869e58e6a8b1493",
        "type": "ui_numeric",
        "z": "544533f6fc539ea4",
        "name": "",
        "label": "Hour1",
        "tooltip": "",
        "group": "85eadbcc02c35ba4",
        "order": 15,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 810,
        "y": 420,
        "wires": [
            [
                "7ee61d95becd42a7"
            ]
        ]
    },
    {
        "id": "78301e91fb6b57c9",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "soilauto",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 1080,
        "y": 200,
        "wires": []
    },
    {
        "id": "86cb948d98eb78b3",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "soilon",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 1370,
        "y": 260,
        "wires": []
    },
    {
        "id": "561a3a57a52f8c3d",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "soilH",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 1130,
        "y": 420,
        "wires": []
    },
    {
        "id": "09e9892b591a4a3b",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "soilM",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 1130,
        "y": 580,
        "wires": []
    },
    {
        "id": "e41a8712b2077223",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "soilS",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 1130,
        "y": 740,
        "wires": []
    },
    {
        "id": "f14b2f2e4bec767e",
        "type": "mqtt in",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "soiloff1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 810,
        "y": 260,
        "wires": [
            [
                "702a56d3b430c41a"
            ]
        ]
    },
    {
        "id": "e4a4155e2575abe0",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 3",
        "func": "if (msg.payload == 1) {\n    msg.payload = 1;  // เปิด switch\n} else {\n    msg.payload = 0;  // ปิด switch\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 200,
        "wires": [
            [
                "78301e91fb6b57c9"
            ]
        ]
    },
    {
        "id": "b8dd2263992477a3",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 4",
        "func": "if (msg.payload == 1) {\n    msg.payload = 'SW1:1';\n} else {\n    msg.payload = 'SW1:0';\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 260,
        "wires": [
            [
                "86cb948d98eb78b3"
            ]
        ]
    },
    {
        "id": "702a56d3b430c41a",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 5",
        "func": "var input = msg.payload;\nif (input == 1) {\n    msg.payload = true;  \n} else  {\n    msg.payload = false; \n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 260,
        "wires": [
            [
                "b1b0c6f4eb42abd8"
            ]
        ]
    },
    {
        "id": "2bf9e47c49581bf9",
        "type": "ui_numeric",
        "z": "544533f6fc539ea4",
        "name": "",
        "label": "Hour2",
        "tooltip": "",
        "group": "3287fa1ec301025c",
        "order": 9,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 810,
        "y": 460,
        "wires": [
            [
                "bfda780a69c8c4ad"
            ]
        ]
    },
    {
        "id": "bfda780a69c8c4ad",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 13",
        "func": "var pp=msg.payload;\nmsg.payload='H2:'+pp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 460,
        "wires": [
            [
                "561a3a57a52f8c3d"
            ]
        ]
    },
    {
        "id": "7ee61d95becd42a7",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 16",
        "func": "var pp=msg.payload;\nmsg.payload='H1:'+pp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 420,
        "wires": [
            [
                "561a3a57a52f8c3d"
            ]
        ]
    },
    {
        "id": "cd7916c92f7a51f4",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 17",
        "func": "var pp=msg.payload;\nmsg.payload='M1:'+pp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 580,
        "wires": [
            [
                "09e9892b591a4a3b"
            ]
        ]
    },
    {
        "id": "db7fc0f00b9d53a3",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 18",
        "func": "var pp=msg.payload;\nmsg.payload='S1:'+pp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 740,
        "wires": [
            [
                "e41a8712b2077223"
            ]
        ]
    },
    {
        "id": "e20d251914fee267",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 19",
        "func": "var pp=msg.payload;\nmsg.payload='H3:'+pp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 500,
        "wires": [
            [
                "561a3a57a52f8c3d"
            ]
        ]
    },
    {
        "id": "dd2ddbd5c82a6070",
        "type": "ui_numeric",
        "z": "544533f6fc539ea4",
        "name": "",
        "label": "Minute2",
        "tooltip": "",
        "group": "3287fa1ec301025c",
        "order": 15,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "59",
        "step": 1,
        "className": "",
        "x": 820,
        "y": 620,
        "wires": [
            [
                "6189daeae2482ed5"
            ]
        ]
    },
    {
        "id": "6189daeae2482ed5",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 20",
        "func": "var pp=msg.payload;\nmsg.payload='M2:'+pp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 620,
        "wires": [
            [
                "09e9892b591a4a3b"
            ]
        ]
    },
    {
        "id": "b775d2e62bbbc29c",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 21",
        "func": "var pp=msg.payload;\nmsg.payload='M3:'+pp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 660,
        "wires": [
            [
                "09e9892b591a4a3b"
            ]
        ]
    },
    {
        "id": "88cee207a89dc0fc",
        "type": "ui_numeric",
        "z": "544533f6fc539ea4",
        "name": "",
        "label": "Second2",
        "tooltip": "",
        "group": "3287fa1ec301025c",
        "order": 22,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "59",
        "step": 1,
        "className": "",
        "x": 820,
        "y": 780,
        "wires": [
            [
                "fd2535fe433fa3ad"
            ]
        ]
    },
    {
        "id": "fd2535fe433fa3ad",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 22",
        "func": "var pp=msg.payload;\nmsg.payload='S2:'+pp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 780,
        "wires": [
            [
                "e41a8712b2077223"
            ]
        ]
    },
    {
        "id": "106185e66eeddfe3",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 23",
        "func": "var pp=msg.payload;\nmsg.payload='S3:'+pp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 820,
        "wires": [
            [
                "e41a8712b2077223"
            ]
        ]
    },
    {
        "id": "8978a1d177904c5c",
        "type": "ui_switch",
        "z": "544533f6fc539ea4",
        "name": "",
        "label": "off-on[2]",
        "tooltip": "",
        "group": "3287fa1ec301025c",
        "order": 16,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1080,
        "y": 300,
        "wires": [
            [
                "8d3a84ddd0d4d302"
            ]
        ]
    },
    {
        "id": "06bc94a87f4c2cd9",
        "type": "mqtt in",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "soiloff2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 810,
        "y": 300,
        "wires": [
            [
                "6ee5c95ee9991b82"
            ]
        ]
    },
    {
        "id": "8d3a84ddd0d4d302",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 24",
        "func": "if (msg.payload == 1) {\n    msg.payload = 'SW2:1';\n} else {\n    msg.payload = 'SW2:0';\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 300,
        "wires": [
            [
                "86cb948d98eb78b3"
            ]
        ]
    },
    {
        "id": "6ee5c95ee9991b82",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 25",
        "func": "var input = msg.payload;\nif (input == 1) {\n    msg.payload = true;  \n} else  {\n    msg.payload = false; \n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 300,
        "wires": [
            [
                "8978a1d177904c5c"
            ]
        ]
    },
    {
        "id": "f304a7a3ce7be243",
        "type": "mqtt in",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "soiloff3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 810,
        "y": 340,
        "wires": [
            [
                "b4f476f2037929b7"
            ]
        ]
    },
    {
        "id": "34bee560048a070b",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 26",
        "func": "if (msg.payload == 1) {\n    msg.payload = 'SW3:1';\n} else {\n    msg.payload = 'SW3:0';\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 340,
        "wires": [
            [
                "86cb948d98eb78b3"
            ]
        ]
    },
    {
        "id": "b4f476f2037929b7",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 27",
        "func": "var input = msg.payload;\nif (input == 1) {\n    msg.payload = true;  \n} else  {\n    msg.payload = false; \n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "80be4c8bc0455cca",
        "type": "mqtt in",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "soiloff4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 810,
        "y": 380,
        "wires": [
            [
                "938806f2d644f604"
            ]
        ]
    },
    {
        "id": "938806f2d644f604",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 28",
        "func": "var input = msg.payload;\nif (input == 1) {\n    msg.payload = true;  \n} else  {\n    msg.payload = false; \n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f076bf6b3aaa88af",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 29",
        "func": "if (msg.payload == 1) {\n    msg.payload = 'SW4:1';\n} else {\n    msg.payload = 'SW4:0';\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 380,
        "wires": [
            [
                "6f467bc20b0dcdbe"
            ]
        ]
    },
    {
        "id": "449bd87f98c8bae4",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 30",
        "func": "var pp=msg.payload;\nmsg.payload='H4:'+pp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 540,
        "wires": [
            [
                "561a3a57a52f8c3d"
            ]
        ]
    },
    {
        "id": "11f7f3d6a1715726",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 31",
        "func": "var pp=msg.payload;\nmsg.payload='M4:'+pp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 700,
        "wires": [
            [
                "09e9892b591a4a3b"
            ]
        ]
    },
    {
        "id": "31237fa1a6e9a940",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 32",
        "func": "var pp=msg.payload;\nmsg.payload='S4:'+pp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 860,
        "wires": [
            [
                "e41a8712b2077223"
            ]
        ]
    },
    {
        "id": "6f467bc20b0dcdbe",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "soilon2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 1400,
        "y": 380,
        "wires": []
    },
    {
        "id": "6829b77f47a0d719",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "data4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 990,
        "y": 140,
        "wires": []
    },
    {
        "id": "44a52875856542cc",
        "type": "ui_level",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "order": 25,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "soil1(15cm)",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": "100",
        "segWarn": "",
        "segHigh": "",
        "unit": "%",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": "0",
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 230,
        "y": 140,
        "wires": []
    },
    {
        "id": "29afd94ada022988",
        "type": "ui_level",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "order": 33,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "soil1(30cm)",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "%",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "custom",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 230,
        "y": 180,
        "wires": []
    },
    {
        "id": "a8484aa6e0662c5a",
        "type": "ui_level",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "order": 26,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "soil2(15cm)",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "%",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 230,
        "y": 220,
        "wires": []
    },
    {
        "id": "1689a97a53777213",
        "type": "ui_media",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "name": "coconut",
        "width": 5,
        "height": 9,
        "order": 18,
        "category": "image",
        "file": "มะพร้าวแซบๆ4.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 80,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "b5b534d1d37a5b89",
        "type": "ui_media",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "name": "coconut",
        "width": 5,
        "height": 9,
        "order": 52,
        "category": "image",
        "file": "มะพร้าวแซบๆ4.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 80,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "10ae3a4c5ba2f8c3",
        "type": "ui_media",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "name": "coconut",
        "width": 5,
        "height": 9,
        "order": 84,
        "category": "image",
        "file": "มะพร้าวแซบๆ4.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 80,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "f6caf7c828e39e1f",
        "type": "ui_media",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "name": "coconut",
        "width": 5,
        "height": 9,
        "order": 20,
        "category": "image",
        "file": "มะพร้าวแซบๆ4.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 220,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "e683e66f29fbabdb",
        "type": "ui_media",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "name": "coconut",
        "width": 5,
        "height": 9,
        "order": 50,
        "category": "image",
        "file": "มะพร้าวแซบๆ4.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 220,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "65b4d2c627271c67",
        "type": "ui_media",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "name": "coconut",
        "width": 5,
        "height": 9,
        "order": 82,
        "category": "image",
        "file": "มะพร้าวแซบๆ4.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 220,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "a9436e28b4ae7cba",
        "type": "mqtt in",
        "z": "544533f6fc539ea4",
        "name": "soil2(30cm)",
        "topic": "soil4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 260,
        "wires": [
            [
                "e8cd6685f438d6c7",
                "cc203868881a627a"
            ]
        ]
    },
    {
        "id": "e8cd6685f438d6c7",
        "type": "ui_level",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "order": 34,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "soil2(30cm)",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "%",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 230,
        "y": 260,
        "wires": []
    },
    {
        "id": "997686d766f05ebc",
        "type": "mqtt in",
        "z": "544533f6fc539ea4",
        "name": "soil3(15cm)",
        "topic": "soil5",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 320,
        "wires": [
            [
                "5240bb0dfbdc7d2d",
                "edab1dd9f6f030dd"
            ]
        ]
    },
    {
        "id": "7c223264c4fcb0b2",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "data5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "d2af632151a37e7b",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "data6",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "5240bb0dfbdc7d2d",
        "type": "ui_level",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "order": 57,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "soil3(15cm)",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "%",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 230,
        "y": 320,
        "wires": []
    },
    {
        "id": "338283a6a2997232",
        "type": "mqtt in",
        "z": "544533f6fc539ea4",
        "name": "soil3(30cm)",
        "topic": "soil6",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 360,
        "wires": [
            [
                "b3a91b63dd496f6b",
                "d9361acdb318a1b6"
            ]
        ]
    },
    {
        "id": "b3a91b63dd496f6b",
        "type": "ui_level",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "order": 65,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "soil3(30cm)",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "%",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 230,
        "y": 360,
        "wires": []
    },
    {
        "id": "af62263ced4bd4cc",
        "type": "mqtt in",
        "z": "544533f6fc539ea4",
        "name": "soil4(15cm)",
        "topic": "soil7",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 400,
        "wires": [
            [
                "33f79a5a6e1bdfbb",
                "302e17e51f37efa2"
            ]
        ]
    },
    {
        "id": "1b0f074c50f76837",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "data7",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "ee352436c6877ffa",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "data8",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "33f79a5a6e1bdfbb",
        "type": "ui_level",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "order": 58,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "soil4(15cm)",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "%",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 230,
        "y": 400,
        "wires": []
    },
    {
        "id": "213943926f56d0f6",
        "type": "mqtt in",
        "z": "544533f6fc539ea4",
        "name": "soil4(30cm)",
        "topic": "soil8",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 440,
        "wires": [
            [
                "55e54e1681867ddc",
                "7ab6d536cedf8428"
            ]
        ]
    },
    {
        "id": "55e54e1681867ddc",
        "type": "ui_level",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "order": 66,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "soil4(30cm)",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "%",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 230,
        "y": 440,
        "wires": []
    },
    {
        "id": "378db5d3e96449ec",
        "type": "mqtt in",
        "z": "544533f6fc539ea4",
        "name": "soil5(15cm)",
        "topic": "soil9",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 500,
        "wires": [
            [
                "1d3c3a7cde04d093",
                "03a96d3268617c60"
            ]
        ]
    },
    {
        "id": "ae0ff2791c0c7637",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "data9",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "96830f053b4c7537",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "data10",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "1d3c3a7cde04d093",
        "type": "ui_level",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "order": 89,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "soil5(15cm)",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "%",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 230,
        "y": 500,
        "wires": []
    },
    {
        "id": "75b24658722f98d8",
        "type": "mqtt in",
        "z": "544533f6fc539ea4",
        "name": "soil5(30cm)",
        "topic": "soil10",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 540,
        "wires": [
            [
                "062d3910d0b28951",
                "ca7728c77935bada"
            ]
        ]
    },
    {
        "id": "062d3910d0b28951",
        "type": "ui_level",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "order": 97,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "soil5(30cm)",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "%",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 230,
        "y": 540,
        "wires": []
    },
    {
        "id": "da700f8b2541798e",
        "type": "mqtt in",
        "z": "544533f6fc539ea4",
        "name": "soil6(15cm)",
        "topic": "soil11",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 580,
        "wires": [
            [
                "8f4c1a090d10269f",
                "e926965ce28f8ca7"
            ]
        ]
    },
    {
        "id": "f4cedc934688186c",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "data11",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 670,
        "y": 400,
        "wires": []
    },
    {
        "id": "a36b355556f6da8f",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "data12",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 670,
        "y": 440,
        "wires": []
    },
    {
        "id": "8f4c1a090d10269f",
        "type": "ui_level",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "order": 90,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "soil6(15cm)",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "%",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 230,
        "y": 580,
        "wires": []
    },
    {
        "id": "211bef7155cae942",
        "type": "mqtt in",
        "z": "544533f6fc539ea4",
        "name": "soil6(30cm)",
        "topic": "soil12",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 620,
        "wires": [
            [
                "3b3ed2a17627c121",
                "0835203a5d98c75b"
            ]
        ]
    },
    {
        "id": "3b3ed2a17627c121",
        "type": "ui_level",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "order": 98,
        "width": 3,
        "height": 3,
        "name": "",
        "label": "soil6(30cm)",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "%",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 230,
        "y": 620,
        "wires": []
    },
    {
        "id": "cc203868881a627a",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "soil4",
        "func": "msg.topic='soil2(30cm)';\nmsg.payload=Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 260,
        "wires": [
            [
                "6dc7b47ecc3a31c1"
            ]
        ]
    },
    {
        "id": "302e17e51f37efa2",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "soil7",
        "func": "msg.topic='soil4(15cm)';\nmsg.payload=Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 400,
        "wires": [
            [
                "ca02f44f6a6bbc5f"
            ]
        ]
    },
    {
        "id": "7ab6d536cedf8428",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "soil8",
        "func": "msg.topic='soil4(30cm)';\nmsg.payload=Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 440,
        "wires": [
            [
                "ca02f44f6a6bbc5f"
            ]
        ]
    },
    {
        "id": "03a96d3268617c60",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "soil9",
        "func": "msg.topic='soil5(15cm)';\nmsg.payload=Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 500,
        "wires": [
            [
                "21a748b2b4c2f401"
            ]
        ]
    },
    {
        "id": "ca7728c77935bada",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "soil10",
        "func": "msg.topic='soil5(30cm)';\nmsg.payload=Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 540,
        "wires": [
            [
                "21a748b2b4c2f401"
            ]
        ]
    },
    {
        "id": "e926965ce28f8ca7",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "soil11",
        "func": "msg.topic='soil6(15cm)';\nmsg.payload=Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 580,
        "wires": [
            [
                "21a748b2b4c2f401"
            ]
        ]
    },
    {
        "id": "0835203a5d98c75b",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "soil12",
        "func": "msg.topic='soil16(30cm)';\nmsg.payload=Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 620,
        "wires": [
            [
                "21a748b2b4c2f401"
            ]
        ]
    },
    {
        "id": "21a748b2b4c2f401",
        "type": "ui_chart",
        "z": "544533f6fc539ea4",
        "name": "",
        "group": "4791d93f32c36a6b",
        "order": 86,
        "width": 11,
        "height": 7,
        "label": "soil5/6",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#00b315",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "4a8b2db0e97da532",
        "type": "mqtt in",
        "z": "544533f6fc539ea4",
        "name": "hum",
        "topic": "hum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 710,
        "y": 1000,
        "wires": [
            [
                "dde54e584376a862",
                "8223cba5b25ad11e"
            ]
        ]
    },
    {
        "id": "e2132bfbf8637287",
        "type": "mqtt in",
        "z": "544533f6fc539ea4",
        "name": "temp",
        "topic": "temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 710,
        "y": 1040,
        "wires": [
            [
                "c82fccd48075a96c",
                "96a32b6881ba3b47"
            ]
        ]
    },
    {
        "id": "618c03fa83721b38",
        "type": "ui_text",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "order": 3,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "humidity",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1000,
        "y": 940,
        "wires": []
    },
    {
        "id": "828dfe222fdc7e03",
        "type": "ui_text",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "order": 10,
        "width": 7,
        "height": 2,
        "name": "",
        "label": "temp",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 1120,
        "wires": []
    },
    {
        "id": "8346f44d56f344bf",
        "type": "ui_media",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "name": "hum",
        "width": 3,
        "height": 2,
        "order": 2,
        "category": "image",
        "file": "humidity.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 70,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "b05b4e1968948268",
        "type": "ui_media",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "name": "temp",
        "width": 3,
        "height": 2,
        "order": 9,
        "category": "image",
        "file": "temperature-sensor.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 190,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "61717c2e2573c57b",
        "type": "ui_chart",
        "z": "544533f6fc539ea4",
        "name": "",
        "group": "4791d93f32c36a6b",
        "order": 4,
        "width": 12,
        "height": 4,
        "label": "hum/temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#00b315",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1140,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "dde54e584376a862",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "hum",
        "func": "msg.topic='hum';\nmsg.payload=Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 1000,
        "wires": [
            [
                "61717c2e2573c57b"
            ]
        ]
    },
    {
        "id": "c82fccd48075a96c",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "temp",
        "func": "msg.topic='temp';\nmsg.payload=Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 1040,
        "wires": [
            [
                "61717c2e2573c57b"
            ]
        ]
    },
    {
        "id": "d2a2b1c7835a96ab",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "setlow3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 380,
        "y": 900,
        "wires": []
    },
    {
        "id": "ed06bc63f4a7a092",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "setmax3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 520,
        "y": 900,
        "wires": []
    },
    {
        "id": "3d74955737e5215a",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "setlow4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 380,
        "y": 940,
        "wires": []
    },
    {
        "id": "67337910e6b7dc2c",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "setmax4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 520,
        "y": 940,
        "wires": []
    },
    {
        "id": "d9361acdb318a1b6",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "soil6",
        "func": "msg.topic='soil3(30cm)';\nmsg.payload=Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 360,
        "wires": [
            [
                "ca02f44f6a6bbc5f"
            ]
        ]
    },
    {
        "id": "edab1dd9f6f030dd",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "soil5",
        "func": "msg.topic='soil3(15cm)';\nmsg.payload=Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 320,
        "wires": [
            [
                "ca02f44f6a6bbc5f"
            ]
        ]
    },
    {
        "id": "ca02f44f6a6bbc5f",
        "type": "ui_chart",
        "z": "544533f6fc539ea4",
        "name": "",
        "group": "4791d93f32c36a6b",
        "order": 54,
        "width": 11,
        "height": 7,
        "label": "soil3/4",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#00b315",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "8223cba5b25ad11e",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 33",
        "func": "msg.payload=(msg.payload+' %');\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 940,
        "wires": [
            [
                "618c03fa83721b38"
            ]
        ]
    },
    {
        "id": "96a32b6881ba3b47",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 34",
        "func": "msg.payload=(msg.payload+' °C');\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1120,
        "wires": [
            [
                "828dfe222fdc7e03"
            ]
        ]
    },
    {
        "id": "220a4685b2bf0d52",
        "type": "ui_button",
        "z": "544533f6fc539ea4",
        "name": "",
        "group": "3287fa1ec301025c",
        "order": 19,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "set",
        "tooltip": "",
        "color": "",
        "bgcolor": "#C0DEED",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 880,
        "wires": [
            [
                "06df447c5a690f0b"
            ]
        ]
    },
    {
        "id": "ec81793e98e6bd1a",
        "type": "ui_text",
        "z": "544533f6fc539ea4",
        "group": "178d8fd49c925330",
        "order": 8,
        "width": 10,
        "height": 1,
        "name": "",
        "label": "สถานะ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1010,
        "y": 1200,
        "wires": []
    },
    {
        "id": "cde4c2e52833d420",
        "type": "ui_led",
        "z": "544533f6fc539ea4",
        "order": 6,
        "group": "3287fa1ec301025c",
        "width": 5,
        "height": 3,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#8f8f8f",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 670,
        "y": 1160,
        "wires": []
    },
    {
        "id": "dfc3ee98db11e228",
        "type": "ui_led",
        "z": "544533f6fc539ea4",
        "order": 10,
        "group": "85eadbcc02c35ba4",
        "width": 5,
        "height": 3,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#878787",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 670,
        "y": 1120,
        "wires": []
    },
    {
        "id": "9b35b18a107d8c72",
        "type": "mqtt in",
        "z": "544533f6fc539ea4",
        "name": "LED1",
        "topic": "LED01",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 1120,
        "wires": [
            [
                "f86a78ed5adfbd12"
            ]
        ]
    },
    {
        "id": "9048355642af7f11",
        "type": "mqtt in",
        "z": "544533f6fc539ea4",
        "name": "LED2",
        "topic": "LED02",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 1160,
        "wires": [
            [
                "bb107476a6f73e31"
            ]
        ]
    },
    {
        "id": "a8eeb3c1a6c5f129",
        "type": "mqtt in",
        "z": "544533f6fc539ea4",
        "name": "status",
        "topic": "status123",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6f7d198b3ae7d0d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 870,
        "y": 1200,
        "wires": [
            [
                "ec81793e98e6bd1a"
            ]
        ]
    },
    {
        "id": "b9df7f87c74cb463",
        "type": "ui_media",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "name": "line",
        "width": 27,
        "height": 1,
        "order": 15,
        "category": "line",
        "file": "เส้น.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 70,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "3ccd06f71b7ecd5e",
        "type": "ui_media",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "name": "line",
        "width": 27,
        "height": 1,
        "order": 79,
        "category": "line",
        "file": "เส้น.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 70,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "228c646a0908e20d",
        "type": "ui_media",
        "z": "544533f6fc539ea4",
        "group": "4791d93f32c36a6b",
        "name": "line",
        "width": 27,
        "height": 1,
        "order": 47,
        "category": "line",
        "file": "เส้น.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 190,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "c3476364c229e9cd",
        "type": "ui_media",
        "z": "544533f6fc539ea4",
        "group": "dbba88268c5713e4",
        "name": "หัว control",
        "width": 16,
        "height": 2,
        "order": 2,
        "category": "image",
        "file": "Smart.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 200,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "61b77040752c7e40",
        "type": "ui_media",
        "z": "544533f6fc539ea4",
        "group": "85eadbcc02c35ba4",
        "name": "lineตรง",
        "width": 3,
        "height": 5,
        "order": 6,
        "category": "line",
        "file": "lineตรง.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 70,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "6f15c73587d6a3bc",
        "type": "ui_media",
        "z": "544533f6fc539ea4",
        "group": "3287fa1ec301025c",
        "name": "lineตรง",
        "width": 3,
        "height": 5,
        "order": 2,
        "category": "line",
        "file": "lineตรง.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 210,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "31cc53f71c7b5e5d",
        "type": "ui_media",
        "z": "544533f6fc539ea4",
        "group": "85eadbcc02c35ba4",
        "name": "manual",
        "width": 5,
        "height": 2,
        "order": 4,
        "category": "image",
        "file": "manual.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 80,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "3224f60d88d31321",
        "type": "ui_media",
        "z": "544533f6fc539ea4",
        "group": "178d8fd49c925330",
        "name": "manual",
        "width": 6,
        "height": 1,
        "order": 2,
        "category": "image",
        "file": "manual.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 80,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "4cd15ce318a3ac4e",
        "type": "ui_media",
        "z": "544533f6fc539ea4",
        "group": "178d8fd49c925330",
        "name": "Auto",
        "width": 6,
        "height": 1,
        "order": 5,
        "category": "image",
        "file": "Auto.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 210,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "06df447c5a690f0b",
        "type": "mqtt out",
        "z": "544533f6fc539ea4",
        "name": "",
        "topic": "set2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6f7d198b3ae7d0d6",
        "x": 810,
        "y": 880,
        "wires": []
    },
    {
        "id": "f86a78ed5adfbd12",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 35",
        "func": "var input = msg.payload;\nif (input == 1) {\n    msg.payload = true;  \n} else  {\n    msg.payload = false; \n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1120,
        "wires": [
            [
                "dfc3ee98db11e228"
            ]
        ]
    },
    {
        "id": "bb107476a6f73e31",
        "type": "function",
        "z": "544533f6fc539ea4",
        "name": "function 36",
        "func": "var input = msg.payload;\nif (input == 1) {\n    msg.payload = true;  \n} else  {\n    msg.payload = false; \n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1160,
        "wires": [
            [
                "cde4c2e52833d420"
            ]
        ]
    },
    {
        "id": "cf1ebe3b8fef4ffb",
        "type": "ui_text_input",
        "z": "544533f6fc539ea4",
        "name": "",
        "label": "soil1",
        "tooltip": "",
        "group": "526843e6a2c13c56",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 810,
        "y": 100,
        "wires": [
            [
                "7da423dfbc6ca655"
            ]
        ]
    },
    {
        "id": "7f4c736930277b2d",
        "type": "ui_text_input",
        "z": "544533f6fc539ea4",
        "name": "",
        "label": "soil2",
        "tooltip": "",
        "group": "526843e6a2c13c56",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 810,
        "y": 140,
        "wires": [
            [
                "6829b77f47a0d719"
            ]
        ]
    },
    {
        "id": "dfa6655d77889f72",
        "type": "ui_media",
        "z": "544533f6fc539ea4",
        "group": "3287fa1ec301025c",
        "name": "lineตรง",
        "width": 3,
        "height": 5,
        "order": 4,
        "category": "line",
        "file": "lineตรง.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 210,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "b0458d41ddcc3032",
        "type": "ui_media",
        "z": "544533f6fc539ea4",
        "group": "85eadbcc02c35ba4",
        "name": "lineตรง",
        "width": 3,
        "height": 5,
        "order": 2,
        "category": "line",
        "file": "lineตรง.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 70,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "c4f77df3883e0c1e",
        "type": "ui_media",
        "z": "544533f6fc539ea4",
        "group": "85eadbcc02c35ba4",
        "name": "Auto",
        "width": 5,
        "height": 2,
        "order": 8,
        "category": "image",
        "file": "Auto.png",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 210,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "46b6a716b7f0a5bf",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "44adf2126a841cd2",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "97715fd657aa78d2",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "38ec596a4ab99322",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "7bf2c18e50d428fc",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "65f3905b5caae30d",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "f7b9b30da29668de",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "b245540e085a072f",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "7e4f18176d1421d2",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "3dc64b5486636929",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "f125714299fe83bd",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "690561471436a321",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "909dfbbc0867b234",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 1,
        "width": 5,
        "height": 1
    },
    {
        "id": "c518af09b8a094fe",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "780b6b2463d56adf",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 6,
        "width": 5,
        "height": 1
    },
    {
        "id": "227c4b0ac8fa64f0",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "02180db52042bb41",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 8,
        "width": 5,
        "height": 1
    },
    {
        "id": "d6786f9ab1e7b3c4",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "445266a65c91ea52",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 12,
        "width": 5,
        "height": 1
    },
    {
        "id": "1e2075f6c4d97259",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "b266a8a421e1cedf",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "58be771d78b3de97",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "c06f87e0fab220fb",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "83e542d41a8e95c8",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 19,
        "width": 3,
        "height": 1
    },
    {
        "id": "a7e1fcd0e1069f65",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 21,
        "width": 3,
        "height": 1
    },
    {
        "id": "f7762cdc9d4aa3ae",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "834670b09fc872c7",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "297b2ea28f0439e3",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 27,
        "width": 1,
        "height": 1
    },
    {
        "id": "2f26950ca8e0b2cf",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "bd3a15776cf946a1",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "e9a1efb35865ce56",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "3e288e62b63aca66",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "c3e5255dff8bd3c9",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "f593bab18a4822d6",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 35,
        "width": 1,
        "height": 1
    },
    {
        "id": "3c3764e6946db3bc",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 36,
        "width": 1,
        "height": 1
    },
    {
        "id": "1f42532521971af5",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 37,
        "width": 1,
        "height": 1
    },
    {
        "id": "82c54ceb99da283b",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 38,
        "width": 1,
        "height": 1
    },
    {
        "id": "e457460266f29251",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 39,
        "width": 1,
        "height": 1
    },
    {
        "id": "1051c000722c0e35",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 40,
        "width": 1,
        "height": 1
    },
    {
        "id": "56b8e542f492e958",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 41,
        "width": 3,
        "height": 1
    },
    {
        "id": "8db36c0680729c33",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 42,
        "width": 15,
        "height": 1
    },
    {
        "id": "dc9b89e9f89d095d",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 43,
        "width": 1,
        "height": 1
    },
    {
        "id": "2af28bbed1025239",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 44,
        "width": 3,
        "height": 1
    },
    {
        "id": "c69d4a3e011b34e6",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 45,
        "width": 15,
        "height": 1
    },
    {
        "id": "d5fbf19a33668433",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 46,
        "width": 1,
        "height": 1
    },
    {
        "id": "2bdbc02ac6aa1454",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 48,
        "width": 1,
        "height": 1
    },
    {
        "id": "0eba5fd8002e81a9",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 49,
        "width": 1,
        "height": 1
    },
    {
        "id": "a648f9bcbe443d27",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 51,
        "width": 3,
        "height": 1
    },
    {
        "id": "9973e3c1176daec9",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 53,
        "width": 3,
        "height": 1
    },
    {
        "id": "fc6c9db5e11fd852",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 55,
        "width": 1,
        "height": 1
    },
    {
        "id": "f6cbbeb90d17fbd3",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 56,
        "width": 1,
        "height": 1
    },
    {
        "id": "1b92e1a7adc85750",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 59,
        "width": 1,
        "height": 1
    },
    {
        "id": "7225198feac24e61",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 60,
        "width": 1,
        "height": 1
    },
    {
        "id": "caa5fdefd081e7b7",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 61,
        "width": 1,
        "height": 1
    },
    {
        "id": "52d8468b220c300b",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 62,
        "width": 1,
        "height": 1
    },
    {
        "id": "72e85304b1c255f5",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 63,
        "width": 1,
        "height": 1
    },
    {
        "id": "14bf1269c5ff925a",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 64,
        "width": 1,
        "height": 1
    },
    {
        "id": "3caad1f5e69eb19d",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 67,
        "width": 1,
        "height": 1
    },
    {
        "id": "b6975cfbe8ffb9c5",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 68,
        "width": 1,
        "height": 1
    },
    {
        "id": "3df112ecb572d685",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 69,
        "width": 1,
        "height": 1
    },
    {
        "id": "18940228bf7f25a3",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 70,
        "width": 1,
        "height": 1
    },
    {
        "id": "955d93b5ce8abe4e",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 71,
        "width": 1,
        "height": 1
    },
    {
        "id": "39a1476f5a8c4b56",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 72,
        "width": 1,
        "height": 1
    },
    {
        "id": "a6864fbac0a1a0b0",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 73,
        "width": 3,
        "height": 1
    },
    {
        "id": "1a6ebac7eb9e8ba7",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 74,
        "width": 15,
        "height": 1
    },
    {
        "id": "db2992a2a7429aa3",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 75,
        "width": 1,
        "height": 1
    },
    {
        "id": "0e297c0a776ebc87",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 76,
        "width": 3,
        "height": 1
    },
    {
        "id": "82094479e1d22d48",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 77,
        "width": 15,
        "height": 1
    },
    {
        "id": "7bca94dbc873f347",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 78,
        "width": 1,
        "height": 1
    },
    {
        "id": "2d1a14a33dbbfcb7",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 80,
        "width": 1,
        "height": 1
    },
    {
        "id": "ccea791a22dd1fe7",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 81,
        "width": 1,
        "height": 1
    },
    {
        "id": "9cbab6f258ab2b24",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 83,
        "width": 3,
        "height": 1
    },
    {
        "id": "93121de9e1734573",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 85,
        "width": 3,
        "height": 1
    },
    {
        "id": "7544ca033db18a9f",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 87,
        "width": 1,
        "height": 1
    },
    {
        "id": "a231bca8ac560d23",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 88,
        "width": 1,
        "height": 1
    },
    {
        "id": "7883526f8d970825",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 91,
        "width": 1,
        "height": 1
    },
    {
        "id": "ebd227066986777d",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 92,
        "width": 1,
        "height": 1
    },
    {
        "id": "2dd1411737f9936f",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 93,
        "width": 1,
        "height": 1
    },
    {
        "id": "3750047325849b77",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 94,
        "width": 1,
        "height": 1
    },
    {
        "id": "a90d633b09b43b09",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 95,
        "width": 1,
        "height": 1
    },
    {
        "id": "cb6431494783e9b3",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 96,
        "width": 1,
        "height": 1
    },
    {
        "id": "7d181678a78e3fb6",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 99,
        "width": 1,
        "height": 1
    },
    {
        "id": "106acc5621f44955",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 100,
        "width": 1,
        "height": 1
    },
    {
        "id": "57f4f58e91127f0f",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 101,
        "width": 1,
        "height": 1
    },
    {
        "id": "3c8689d9d585f7bb",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 102,
        "width": 1,
        "height": 1
    },
    {
        "id": "7b3037d2795defb1",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 103,
        "width": 1,
        "height": 1
    },
    {
        "id": "8a938b6781422c8d",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 104,
        "width": 1,
        "height": 1
    },
    {
        "id": "9e025e17377f7bf1",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 105,
        "width": 3,
        "height": 1
    },
    {
        "id": "4502ca91e502fb35",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 106,
        "width": 15,
        "height": 1
    },
    {
        "id": "e76d98e2725b945b",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 107,
        "width": 1,
        "height": 1
    },
    {
        "id": "927bf3ab8c512b34",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 108,
        "width": 3,
        "height": 1
    },
    {
        "id": "55ceca45a5296b98",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "4791d93f32c36a6b",
        "order": 109,
        "width": 15,
        "height": 1
    },
    {
        "id": "b6a8c5c61ead7c50",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "2cf42aca19566cec",
        "order": 1,
        "width": 15,
        "height": 1
    },
    {
        "id": "34532c959383b0dc",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "2cf42aca19566cec",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "0afe60cb2e404dae",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "2cf42aca19566cec",
        "order": 4,
        "width": 11,
        "height": 1
    },
    {
        "id": "0ee55b5c1d04cf7d",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "2cf42aca19566cec",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "ac861d3b9ce85fd9",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "2cf42aca19566cec",
        "order": 6,
        "width": 11,
        "height": 1
    },
    {
        "id": "8d3a1de8da17415a",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "2cf42aca19566cec",
        "order": 1,
        "width": 15,
        "height": 1
    },
    {
        "id": "013c4d9d203eb14a",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "2cf42aca19566cec",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "7023b0a5167951e6",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "2cf42aca19566cec",
        "order": 4,
        "width": 11,
        "height": 1
    },
    {
        "id": "d989511db9e54d9c",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "2cf42aca19566cec",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "8684066db24b89fd",
        "type": "ui_spacer",
        "z": "544533f6fc539ea4",
        "name": "spacer",
        "group": "2cf42aca19566cec",
        "order": 6,
        "width": 11,
        "height": 1
    },
    {
        "id": "6f7d198b3ae7d0d6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "85eadbcc02c35ba4",
        "type": "ui_group",
        "name": "สวนมะพร้าวร่องที่ 1",
        "tab": "de300a55c70e9f74",
        "order": 3,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3287fa1ec301025c",
        "type": "ui_group",
        "name": "สวนมะพร้าวร่องที่ 2",
        "tab": "de300a55c70e9f74",
        "order": 4,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4791d93f32c36a6b",
        "type": "ui_group",
        "name": "Sensor",
        "tab": "4d1b6752f458c914",
        "order": 1,
        "disp": true,
        "width": 29,
        "collapse": false,
        "className": ""
    },
    {
        "id": "178d8fd49c925330",
        "type": "ui_group",
        "name": "MODE",
        "tab": "de300a55c70e9f74",
        "order": 2,
        "disp": true,
        "width": "30",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dbba88268c5713e4",
        "type": "ui_group",
        "name": "control",
        "tab": "de300a55c70e9f74",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "526843e6a2c13c56",
        "type": "ui_group",
        "name": "Group 5",
        "tab": "de300a55c70e9f74",
        "order": 5,
        "disp": true,
        "width": 6
    },
    {
        "id": "44adf2126a841cd2",
        "type": "ui_group",
        "name": "History",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de300a55c70e9f74",
        "type": "ui_tab",
        "name": "control",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4d1b6752f458c914",
        "type": "ui_tab",
        "name": "Sensor",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]